.fullpage {
    text-align: center;
    background-color:#7e6798
  }

.boldText{
  font-weight: 300;
  font:bold;
  font-size: large;
  font-family: cursive;
}

.bodyText{
  font-style: italic;
  font:caption;
  color:aliceblue;
  font-family: 'Times New Roman', Times, serif;
}
  
  .Crochet-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  @media (prefers-reduced-motion: no-preference) {
    .Crochet-logo {
      animation: App-logo-spin infinite 20s linear;
    }
  }
  
  .Crochet-header {
    background-color: #7e6798;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .Crochet-link {
    color: #61dafb;
  }