.fullpage {
    text-align: center;
    align-items: center;
    justify-content: center;
    background-color:#7e6798
  }

.boldText{
  font-weight: 300;
  font:bold;
  font-size: large;
  font-family: cursive;
}

.bodyText{
  font-style: italic;
  font:caption;
  color:aliceblue;
  font-family: 'Times New Roman', Times, serif;
}

a:hover{
  color: red;
}

#Item1 {
  color:red;
}
#Item2 {
  color:orange;
}
#Item3 {
  color:yellow;
}
#Item4 {
  color:green;
}
  
  .Crochet-logo {
    height: 40vmin;
    pointer-events: none;
  }
  
  
  .Crochet-header {
    background-color: #7e6798;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .mylink {
    color: #61dafb;
  }